{% extends 'adminhome.html' %}
{% block content %}
{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
</style>
    <script>

        function disvalidation()
        {
        if(!(isNaN(document.f3.disname.value)))
        {
        alert("only letters are allowed");
        document.f3.disname.value="";
        document.f3.disname.focus();
        return false;
        }
        }

    </script>
                	    <script type="text/javascript" src="{% static 'validation.js' %}"></script>

</head>
<body>
<form action="{% url 'district' %}" method="post" name="f3">
    {% csrf_token %}
    <table  align="center">
        <tr>
            <td>Add District</td>
            <td><input type="text" name="disname" required onchange="return fn_allLetter(document.f3.disname);"/><br></td>

        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add"> </td>
        </tr>
    </table>
</form>


</body>
</html>
{% endblock %}