{% extends 'adminhome.html' %}
{% block content %}
{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
</style>
                    	    <script type="text/javascript" src="{% static 'validation.js' %}"></script>

</head>
<body>
<form action="{% url 'disupdate' id=key.id %}" method="post" name="f4">
    {% csrf_token %}
    <table  align="center">
        <tr>
            <td>Update District</td>
            <td><input type="text" name="disname" value="{{key.disname}}"  required onchange="return fn_allLetter(document.f4.disname);"/><br></td>


        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update"> </td>
        </tr>
    </table>
</form>


</body>
</html>
{% endblock %}