{% extends 'officerhome.html' %}
{% block content %}
{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
</style>
</head>
<body>
<h3 class="w3l-titles">Theft Case</h3>
<form action="{% url 'updatestatus' id=key.cid %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table  align="center">

        <tr>
            <th>THEFT OBJECT DETAILS</th>
        </tr>
        <tr>
            <td>Date</td>
            <td><input type="date" name="date" value="{{key.date}}"/><br></td>

        <tr>
            <td>Object</td>
            <td><input type="text" name="object" value="{{key.object}}"/><br></td>
        </tr>
        <tr>
            <td>Model</td>
            <td><input type="text" name="model" value="{{key.model}}"/><br></td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td><input type="text" name="quantity" value="{{key.quantity}}"/><br></td>
        </tr>
        <tr>
            <td>Identification</td>
            <td><input type="text" name="identification" value="{{key.identification}}"/><br></td>
        </tr>
        <tr><br><br>
            <td>Remarks</td>
            <td><textarea name="remarks" placeholder="Remarks" >{{key.remarks}}</textarea><br><br></td>
        </tr>
        <tr>
            <td>Photo</td>
            <td><img src="/media/{{key.photo}}" height="150" width="150"></td>
        </tr>
<tr>

<td>Select Status</td><td>
            <input type="radio" value="closed" name="status">Closed
                        <input type="radio" value="register" name="status">Register

        </td>
</tr>
        <tr>
            <td>Case Remarks</td><td>
            <textarea name="cremarks"></textarea>
        </td>

</tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Assign"> </td>
        </tr>
    </table>
</form>


</body>
</html>
{% endblock %}